.navIcon {
  margin-right: 10px;
  height: 50px;
  width: 50px;
}
ul li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: all ease-in 1s;
  border-radius: 20px;
}
ul li:hover {
  background-color: #81814f;
  color: black;
}
